Django>=2.0.1
django-multiselectfield>=0.1.8
setuptools>=38.4.0
django-admin-tools>=0.8.1
psycopg2>=2.7.3.2
environ>=1.0
djangorestframework>=3.8.2
Pillow>=5.2.0
django-cors-headers
django-rest-auth
gunicorn>=19.0
coverage>=4.5.1
django-nose>=1.4.5
