<script src="js/lib/jquery.js"></script>
<script src="css/materialize.min.js"></script>

<script type="text/javascript">

 var Grid = function(opt) {
     var opt = opt || {};
     
     var generateGrid = function() {
	 var grid = [];
	 for (let x = 0; x < opt.sizeX; x++) {
	     grid[x] = [];
	     for (let y = 0; y < opt.sizeY; y++) {	 
		 grid[x][y] = '0';
	     }
	 }
	 
	 return grid;
     }

     var parseGrid = function(gridData) {
	 let output = '';
	 for (let x = 0; x < gridData.length; x++) {
	     output += opt.separator;
	     for (let y = 0; y < gridData[x].length; y++) {
		 output += "<pixel posicao_x=" + x + " posicao_y=" + y + ">"
		 output += gridData[x][y] + opt.separator;
		 output += "</pixel>";
	     }
	     output += opt.lineBreak;
	 }
	 
	 return output;
     }
     
     return {
	 generateGrid,
	 parseGrid
     }
 }

</script>
 <script type="text/javascript">
 $(document).ready(function(){
      var opt = {
	 sizeX: 25,
	 sizeY: 25,
	 separator: '<div class="row">',
	  lineBreak: '</div>'
      }

      var grid = new Grid(opt);
      let output = grid.parseGrid(
	  grid.generateGrid()
      );

      $('#grid').html(output);

      $('pixel').click(function(i)) {
	  console.log(i);
	  //console.log(i.posicao_x + i.posicao_y)
      }
});
</script>
<div id="grid" style="font-family: monospace">
</div>
